body{
	background-color: A7CCED;
	font-family: Helvetica;
}
.text{
	color: 545E75;
	text-shadow: white;
	font-size: 200%;
}
.link{
	color: white;
	text-shadow: white;
	font-size: 100%;
}
.small{
	color: 545E75;
	text-shadow: white;
	font-size: 100%;
}
.med{
	color: 545E75;
	text-shadow: white;
	font-size: 150%;
}
.answer{
	color: green;
	text-shadow: white;
	font-size: 100%;
}
.textbox{
	background-color:82A0BC;
	width:20%;
	padding:1%
}
.button{
	position:relative;
	width:20%;
	height:10%;
	left:25%;
	bottom:60%;
	background-color:7BBAF4;
	font-size:max(4ch, 2%);
}
.buttonsmall{
	position:relative;
	width:10%;
	height:5%;
	left:1%;
	bottom:80%;
	background-color:63ADF2;
	font-size:max(4ch, 2%);
}